<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojm.common">
  <sql id="commonOrderSql">
    <if test="orderMap.size() > 0">
      order by
      <foreach item="value" index="key" collection="orderMap.entrySet()" separator=",">
        ${key} ${value}
      </foreach>
    </if>
  </sql>
</mapper>